body, html {
  font-family: "Lucida Sans", Verdana, sans-serif;
  box-sizing: border-box;
  background-color: rgb(230, 230, 230);
}

.container {
  margin-bottom: 10em;
}

@media screen and (min-width: 850px) {

  .main_content {
    display: block;
    margin-left: 20em;
    margin-top: 2em;
    height: 200em;
  }

  .map {
    margin-top: 4em;
    margin-left: 5%;
    margin-right: 10%;
    width: 85%;
    height: 40vw;
    background-color: white;
  }

  .shorter_border {
    margin-top: -.5em;
    width: 90px;
    border-bottom: 4px solid black;
  }

}

@media screen and (max-width: 850px) {
  .main_content {
    display: block;
    margin-left: 10em;
    margin-top: 2em;
    height: 200em;
  }
}